<div class="card">
    <div class="card-body">
        <h2>{{postagens.titulo}}</h2>
        {{postagens.conteudo}}<br>
        <hr>
        <small>Data de publicação: {{postagens.data}}</small>
    </div>
</div>